
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,img,button,select{margin:0;padding:0}
body,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,button{font-family:'Nanum Square','돋움',Dotum,Helvetica,'Apple SD Gothic Neo',sans-serif}
body{min-width:1280px;-webkit-text-size-adjust:none}
img,fieldset{border:0;vertical-align:top}
a{color:#1a1a1a}
em,address{font-style:normal}
ul,ol,li{list-style:none}
label,button{cursor:pointer}
input::-ms-clear{display:none}
.blind{position:absolute !important;clip:rect(0 0 0 0) !important;width:1px !important;height:1px !important;margin:-1px !important;overflow:hidden !important}
.table thead.blind{position:static;font-size:0} /* 테이블 thead blind 버그해결 */
.clearbx:after,.clearfix:after{content:'';clear:both;display:table}
.ellipsis{overflow:hidden;white-space:nowrap;word-break:break-all;text-overflow:ellipsis}
.no_ellipsis{white-space:normal !important}
.no_ellipsis2{white-space:normal !important;text-overflow:clip !important;}
.us_none{-webkit-user-select:none !important;-moz-user-select:none !important;-ms-user-select:none !important;user-select:none !important}
.mw_auto{min-width:auto}
.w_auto{width:auto !important}
.of_hidden{overflow:hidden !important}
.of_visible{overflow:visible !important}
input:disabled{-webkit-text-fill-color:#8d8d8d;opacity:1}
iframe{overflow:hidden;margin:0;padding:0;border:0}

.container{
    display: block;
    width: 400px;
    margin: 10px auto 100px;
    background-color: #fff;
    padding: 0 10px 10px 10px;
    border-radius: 10px;
    border: 1px solid #eaeaea;    
}
h1{
    text-align: center;
    padding: 10px 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 900;
}
h2{
    display: block;
    font-size: 18px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 2px solid #000;
}
li,
.type_flex{
    display: flex;
    align-items: center;;
}
.type_flex{
    margin-top:10px;
}
input, button{
    outline: none;
}
button{
    background: none;
    border: 0;
    color: #888;
    font-size: 15px;
    width: 60px;
}
button:hover{
    color: #333;
}
h2,label[for='new-task']{
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 20px 0 10px;
    margin: 0;
    text-transform: uppercase;
}
input[type="text"]{
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    color: #888;
}
input[type="text"]:focus{
    color: #333;
}
label[for='new-taxk']{
    display: block;
    margin: 0 0 20px;
}
input#new-task{
    float:left;
    width: 310px;
}
p > button:hover{
    color: #0fc57c;
}

li{
    overflow:hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
}
li > input[type="checkbox"]{
    margin: 0 10px;
    position: relative;
}
li > label{
    font-size: 18px;
    line-height: 40px;
    width: 237px;
    padding: 0 0 0 11px;
}
li > input[type="text"]{
    width: 226px;
}
li > .delete:hover{
    color: #cf2323;
}

#completed-tasks label{
    text-decoration: line-through;
    color: #888;
}

ul li input[type="text"]{
    display: none;
}
ul li.editMode input[type="text"]{
    display: block;
}
ul li.editMode label{
    display: none;
}